@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./AlexBrush-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./PinyonScript-Regular.ttf') format('truetype');
}
